@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200&display=swap');

body{
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container{
  width: 400px;
  background: white;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
}

.register-form{
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  flex-direction: column;

}

.form-field{
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: "Montserrat";
}

input{
  background: #f2f2f2;
  border-radius: 5px;

}

button{
  background: #7BB200;
  color: white;
  cursor: pointer;
  border-radius: 5px;

}

button:disabled{
  cursor: default;
}

error{
  border-style: solid;
  border: 2px solid #7BB200;
}

.success-message{
  font-family: "Montserrat";
  background-color: #7BB200;
  padding: 15px;
  color: white;
}

span{
  font-family: "Montserrat";
  color: red;
  font-size: 10px;
}